Checks: 
  clang-diagnostic-*
  clang-analyzer-*
  cppcoreguidelines-*
  -cppcoreguidelines-special-member-functions
  modernize-*
  -modernize-use-trailing-return-type
  -modernize-use-nodiscard
  -modernize-concat-nested-namespaces
  -*-avoid-magic-numbers
  -cppcoreguidelines-pro-type-union-access
WarningsAsErrors: '*'